<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
    <div id="main">
        <div id="title-section">
            <h1><%= title %></h1>
            This is About page
        
        </div>
        <div id="main-body"> 
            <p>This is where the body will go for the about page</p>
        </div>
        <div id="footer-bar">
            <p>This is where the footer will go</p>
        </div>
    </div>
<%- include partials/footer.ejs %>