<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
    <div id="main">
        <hr class="thicker-hr">
    
        <div id="title-section">
            <p>This is where the title will go</p>
            <h1><%= title %></h1>
        </div>
        <div id="main-body"> 
            <p>This is where the body will go</p>
        </div>
        <div id="footer-bar">
            <p>This is where the footer will go</p>
        </div>
    </div>
<%- include partials/navbar.ejs %>