<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
<div class="login-container">
    <h1>Login</h1>

    <!-- Login Form -->
    <form id="login-form">
        <label for="username">Username or Email:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <!-- Additional options (e.g., forgot password, register) -->
    <div class="additional-options">
        <a href="register">Register</a>
    </div>
</div>
<%- include partials/footer.ejs %>