<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>

<style>
    body {
        background-color: #f8f9fa; 
    }

    .login-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff; 
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    }

    h1 {
        text-align: center;
        color: #343a40; 
    }

    label {
        margin-top: 10px;
    }

    input {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    button {
        margin-top: 20px;
    }

    .additional-options {
        margin-top: 15px;
    }
</style>

<div class="login-container">
    <h1 class="mb-4">Login</h1>

    
    <form id="login-form">
        <div class="mb-3">
            <label for="username" class="form-label">Username or Email:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>

    
    <div class="additional-options text-center">
        <a href="register" class="btn btn-outline-primary btn-block">Register</a>
    </div>
</div>

<%- include partials/footer.ejs %>
